body {
    font-family: Arial, sans-serif;
    background-color: #011b32;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Mechanical\ engineering\ aesthetic.jpeg');
    background-size: cover;
    
    background-position: center;
}

.container {
    text-align: center;
    padding: 20px;
    display: block;
    border: radius 5px;
    padding: 10px 20px;
    opacity: 90% ;
    box-sizing: content-box;
   
    background-color: #000000;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 510px;

    
}

h1 {
    color: #d7cc00;
    text-shadow: #fffbfb;
}

p {
    color: #fffbfb;
    font-size: 1.1em;
    line-height: 1.6em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
